{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-homepage.css') }}">
{% endblock%}
{% block body%}
<body>
    <h2>
        Encuentra todo
    </h2>
    <table>
        <tr>
            <div class=post>
                <tc>
                    <td>
                        <div class=rest onclick="document.getElementById('id').style.display='block'">
                            <img id=imagen-post src="../img/restaurant-xalapa.jpg">
                            <button id=nombre-negocio>La rubia</button>
                            <button id=precio-persona>123/mxn por persona</button>
                            <button id=menu>Menu</button>
                            <button id=servicio-domicilio>🏍✅</button>
                            <button id=estado>Abierto</button>
                            <button id=vegan>Comida vegana 🍏💚 </button>
                            <button id=alcohol>Alcohol 🍷</button>
                            <button id=pet>Pet friendly 🐕</button>
                            <button id=facturar>Se puede facturar ✉</button>
                        </div>
                        <div id="id" class="modal">
                            <div class="modal-contenido">
                                <header>
                                    <h2>
                                        <span onclick="document.getElementById('id').style.display='none'">
                                            <button id=button-cerrar>X</button>
                                        </span>
                                        <img id="imagen-restaurante" src="../img/imagen-restaurante.jpg">
                                    </h2>
                                </header>
                                <div class="contenido-post">
                                    <table class = tabla>
                                        <tr>
                                            <tc><td>

                                                <p>Avenida Avila Camacho #43 </p>
                                            </td>
                                            </tc>
                                            <tc><td>

                                                <p>Abierto hasta las ocho de la noche </p>
                                            </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc><td>

                                                <p>Tiene el menú disponible 🍚</p>
                                            </td>
                                            </tc>
                                            <tc><td>

                                                <p>123/mxn por persona</p>
                                            </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc><td>

                                                <p>2288439854 📱</p>
                                            </td>
                                            </tc>
                                            <tc>
                                                <td>
                                                    <p>Cuenta con servicio a domicilio 🏍✅</p>

                                            </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc> <td>

                                                <p>Se puede facturar ✉ </p> 
                                            </td>
                                            </tc>
                                             <tc>
                                                 <td>

                                                     <p>Aceptamos tarjetas 💳</p>
                                                 </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc><td>
                                                <p>Uber eats</p>
                                            </td>
                                            </tc>
                                            <tc><td>
                                                <p>Clima 🍧</p>
                                            </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc><td>
                                                <p>Espacio al aire libre ☀</p>
                                            </td>
                                            </tc>
                                            <tc>
                                                <td>
                                                <p>Buffet: Sabados y domingos</p>
                                            </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc>
                                                <td>
                                                    <p>Cuenta con juegos para niños 🎮</p>
                                                </td>
                                            </tc>
                                            <tc>
                                                <td>
                                                <p>Cuenta con intenet 🌍</p>
                                            </td>
                                            </tc>
                                        </tr>
                                        <tr>
                                            <tc>
                                                <td>
                                                    <p>Cuenta con estacionamiento 🚓</p>
                                                </td>
                                            </tc>
                                            <tc>
                                                <td>
                                                    <p>Zona para cigarro🚬</p>
                                                </td>
                                            </tc>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tc>
            </div>
        </tr>
    </table>
</body>
{% endblock %}
