{% extends "Layout.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">
{% endblock%}

{% block body %}
<h1>
    <p>¡Crea una cuenta!</p>
</h1>
    <form action="{{ url_for('views.Ingreso')  }}" method="post">
        <div class="formato">
            <input id=nombre type="text" name="nombre" placeholder="Nombre">
            <input id=contra type="password" name="contra" placeholder="Contraseña">
            <input id=correo type="text" name="correo" placeholder="Correo ">
            <button type="submit" class="btn">Unete a busca Xalapa</button>
        </div>
    </form>
    <div class = ventajas>
        <p>🌻 <span>Entra a la comunidad</span> de empresarios y consumidores Xalapeños</p>
        <p>👷 <span>Accesa a la red de trabajos</span> Xalapeños y postulate antes que los demás</p>
        <p>👯 <span>Comunicate con estudiantes</span> Xalapeños en busca de roomies</p>
        <p>📱 <span>Compra y vende tus productos</span> a lado de miles de ciudadanos Xalapeños</p>
        <p>🕴 <span>Apoya</span> a una empresa local </p>
    </div>
{% endblock %}