{% extends "Layout.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-jobs.css') }}">
{% endblock%}

{% block body %}
        <h2>Trabajos en Xalapa </h2>    
        <table id = "trabajos-xalapa">
                <tr class="trabajo">
                            <tc id = "column-logo-empresa">
                                <td>
                                        <img src="../img/oxxo_logo.svg" height="55" width="105">
                                </td>
                            </tc>
                            <tc id = "column-informacion-empresa">
                                <td>
                                    <h3>Oxxo</h3>
                                    <h4>Cajero</h4>
                                    <h5>Morelos número ocho</h5>
                                </td>
                            </tc>
                            <tc id = "column-etiquetas-trabajo">
                                    <div class="btn-group">
                                        <td><button id = button-etiqueta-trabajo>Trato</button></td>   
                                        <td><button id = button-etiqueta-trabajo>Facilidad de palabra</button></td>
                                        <td><button id = button-etiqueta-trabajo>Uso de computadoras</button></td>
                                    </div>
                                </tc>
                            <tc id = "column-dias-desde-posteo">
                                <td>
                                    <p>6d</p>
                                </td>
                            </tc>
                            <tc id = "columnn-postulate">
                                    <td>
                                        <button id = button-postulate>Postúlate</button>
                                    </td>
                            </tc>
                </tr>
        </table>
     {% endblock %}