<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-header.css') }}">
    {% block header %}{% endblock %}
    <div class = header>
    <h1>
                <img id = logo src="{{ url_for('static', filename = 'img/logo.png') }}">
                <input id=buscador-negocio type="text" placeholder="🔎 ¿Qué estás buscando? "></input>
                <a href="{{ url_for('views.roomie') }}" id = "button-busca-roomie">Roomie</a>
                <a href="{{ url_for('views.jobs') }}" id = "button-trabajos">Trabajos</a>
                <a href="{{ url_for('views.marketplace') }}" id = "button-compra-vende">Compra y vende</a>
                <!-- TODO añadir vista para ingresar y conócenos -->
    </h1>
</div>    
</head>

<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
<html>