<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-header.css') }}">
    {% block header %}{% endblock %}
    <div class = header>
    <h1>
        <a href="{{ url_for('views.homepage') }}" id = "button-homepage">
        <img id = logo src="{{ url_for('static', filename = 'img/logo.png') }}">
    </a>
    <input id=buscador-negocio type="text" placeholder="🔎 ¿Qué estás buscando? "></input>
                <a href="{{ url_for('views.roomie') }}" id = "button-busca-roomie">Roomie</a>
                <a href="{{ url_for('views.jobs') }}" id = "button-trabajos">Trabajos</a>
                <a href="{{ url_for('register.registro') }}" id = "button-registro">Anúnciate</a>
                <a href="{{ url_for('views.marketplace') }}" id = "button-compra-vende">Compra y vende</a>
                        <a class = rest onclick="document.getElementById('id').style.display='block'">Inicia sesión</a>
                    <div id="id" class="modal-iniciar-sesion">
                        <div class="modal-contenido">
                                    <span onclick="document.getElementById('id').style.display='none'">
                                        <button id=button-cerrar>X</button>
                                    </span>
                                    <input id=input-correo type="text" placeholder="Correo "></input>
                                    <input id=input-contra type="text" placeholder="Contraseña "></input>
                                    <button>Iniciar sesion</button>
                        </div>
                    </div>
                <!-- TODO añadir vista para ingresar y conócenos -->
                <!-- TODO reemplazar views por header -->
    </h1>
</div>    
</head>

<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
<html>