<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-header.css') }}">
    {% block header %}{% endblock %}
    <div class = header>
    <h1>
            <form action="{{ url_for('EscogeHeader')  }}" method="POST">
                <img id = logo src="{{ url_for('static', filename = 'img/logo.png') }}">
                <input id=buscador-negocio type="text" placeholder="🔎 ¿Qué estás buscando? "></input>
                <input type ="submit" name = "button" id="button-conocenos" value = "Conocenos">
                <input type ="submit" name = "button" id="button-busca-roomie" value = "Roomie">
                <input type ="submit" name = "button" id="button-trabajos" value = "Trabajos">
                <input type ="submit" name = "button" id="button-compra-vende" value = "Compra y vende">
                <input type ="submit" name = "button" id="button-inicia-sesion" value = "Ingresa">
            </form>
    </h1>
</div>    
</head>

<body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
<html>