{% extends "Layout.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-jobs.css') }}">
{% endblock%}

{% block body %}
    <table class=table-marketplaces>
        <tr>
            <div class=post>
                <tc>
                    <td>
                        <div class="container">
                            <img src="../examples/items-selling/bocinabose.png">
                            <button class="btn">$1200</button>
                            <p>Bocina bose</p>
                            <button id = "button-ver-mas">Ver más</button>
                            <div class = "button-grupo-post">
                            <button>Whatsapp</button>
                            <button>Messenger</button>
                            </div>
                        </div>
                    </td>
                </tc>
            </div>
        </tr>
    </table>
    {% endblock%}