        {% extends "Layout.html" %}
        {% block header %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-roomie.css') }}">
        {% endblock%}
        
        {% block body %}
        <h1>
            <p>Busca un roomie en Xalapa</p>
        </h1>
        <table class=table-roomie>
                <tr>
                        <tc>
                            <td>
                                <div class="container">
                                    <img src="../examples/post-roomies/foto-cuarto.jpg">
                                    <div class = "button-grupo-info">
                                    <button>😃 2 roomies</button>
                                    <button>🚽 Baño propio</button>
                                    <button>🌍 Internet</button>
                                    </div>
                                    <p>Calle Miradores #23</p>
                                    <div class ="button-grupo-pago">
                                    <button>$2100/mes</button>
                                    <button >Descripción detallada</button>
                                    </div>
                                    <div class="button-grupo-post">
                                        <button>Whatsapp</button>
                                        <button>Messenger</button>
                                    </div>
                                </div>
                            </td>
                        </tc>
                </tr>
            </table>
        {% endblock %}