@import "../scss/variables-master";

.container {
    position: relative;
    width: $half;
}

.container img {
    width: $full;
    height: auto;
}

.container .btn {
    font-family: $font-stack;
    position: absolute;
    transform: translate(-150%, -$full);
    -ms-transform: translate(-$half, -$half);
    background-color: black;
    color: white;
    font-size: $small-font;
    padding: $padding-container-button;
    padding-bottom: none;
    border: none;
    border-radius: $border-radius-default;
}

p {
    font-family: $font-stack;
    color: Black;
    font-size: $small-font;
    font-weight: bolder;
    text-align: left;
    margin-top: $p-margin-top;
    margin-bottom: $p-margin-bottom;
}

.container #button-ver-mas {
    font-family: nunito, roboto, proxima-nova, proxima nova, sans-serif;
    background-color: white;
    border: $border-size-default solid $primary-color;
    color: black;
    height: $ver-mas-width;
    width: $ver-mas-width;
    float: left;
}

.container #button-ver-mas:focus {
    outline: $zero;
}

.button-grupo-post button {
    background-color: $primary-color;
    border: $border-size-default solid $primary-color;
    color: white;
    padding: $button-padding-default;
    cursor: pointer;
    float: left;
}

.button-grupo-post button:not(:last-child) {
    border-right: none;
}