h3 {
    font-size: 17px;
    font-weight:normal;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0px;
}

h4 {
    font-size: 20px;
    text-align: left;
    line-height:15px;
    margin-top: 5px;
    margin-bottom: 0%;
}

h5 {
    font-size: 17px;
    font-weight: normal;
    text-align: left;
    line-height:15px;
    margin-top: 10px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    border: none;
}

p{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

#trabajos-xalapa{
    list-style-type: none;
    margin:0 auto;
    margin-left:10%; 
    margin-right:15%;
}

.trabajo{
    font-family:nunito,roboto,proxima-nova,proxima nova,sans-serif;
    background-color: white;
    color: #474538;
    border: none;
    height: 80px;
    width: 1000px;
}

.trabajo:hover{
    background-color: #F5F5F5;
}

.trabajo:hover #button-postulate{
    display: inline-block;
}

#button-postulate{
    font-family:nunito,roboto,proxima-nova,proxima nova,sans-serif;
    background-color: #FF4742;
    color: white;
    border: 1px solid #FF4742; 
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;
    transition-duration: 0.4s;
  display: none;
}

#button-postulate:focus 
        {
            outline:0;
        }