{% extends "Layout.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-table.css') }}">
{% endblock%}

{% block body %}
<div class="tabla-empresa">
    <h2>¿Que tipo de negocio quieres agregar? </h2>    
    <table id = "centra-tabla">
  <tr>
    <td><button>Boutiques👠👗</button></td>
    <td><button>Cafetería☕🍰</button></td>
    <td><button>Clínica💉⚕️</button></td>
    <td><button>Cocina económica🍲🥣</button></td>
    <td><button>Equipo de sonido🎵🎤</button></td>
  </tr>
  <tr>
    <td><button>Escuela privada 🎒✏</button></td>
    <td><button>Estilista ✂👧</button></td>
    <td><button>Gimnasio 🏃💦</button></td>
    <td><button>Heladeria 🍦🍧</button></td>
    <td><button>Hotel 🏨🌏</button></td>
  </tr>
  <tr>
    <td><button>Lavandería 👚🕑</button></td>
    <td><button>Librerías 📗📚</button></td>
    <td><button>Motel 🚙💑</button></td>
    <td><button>Panadería 🍞</button></td>
    <td><button>Pastelería 🎂</button></td>
  </tr>
  <tr>
    <td><button>Salón de belleza 👩👯</button></td>
    <td><button>Salón de fiestas 🎉🍹</button></td>
    <td><button>Semilleros 🏪</button></td>
    <td><button>Taller de auto 🔧🚙</button></td>
    <td><button>Taquería 🌮</button></td>
  </tr>
  <tr>
    <td></td>
    <td><button>Tienda sexual 💑💘</button></td>
    <td><button class = button-negocio>Tintorería 👚</button></td>
    <td><button class = button-negocio>Zapaterias 👠👟</button></td>
    <td></td>
  </tr>
</table>
</div>
{% endblock %}

