@import "../scss/variables-master";

h3 {
    font-size: $small-font;
    font-weight:normal;
    text-align: left;
    margin-top: $h3-margin-top;
    margin-bottom: $zeropx;
    vertical-align: middle;
}

h4 {
    font-size: $medium-font;
    text-align: left;
    line-height:$line-header-default;
    margin-top: $h4-margin-top;
    margin-bottom: $zeropx;
    vertical-align: middle;
}

h5 {
    font-size: $small-font;
    font-weight: normal;
    text-align: left;
    line-height:$line-header-default;
    margin-top: $h5-margin-top;
}

td {
    border: none;
}

p{
    font-size: $small-font;
    font-weight: bold;
    text-align: center;
}

#trabajos-xalapa{
    border: $border-size-default solid white;
    border-collapse: collapse;
    table-layout: fixed;
    height: $posting-height;
    width: $posting-width;
    list-style-type: none;
    margin:0 auto;
    margin-left: $margin-left; 
    margin-right: $margin-right;
}

#column-informacion-empresa{
    text-align: left; 
    vertical-align: middle;
}

.trabajo{
    font-family: $font-stack;
    background-color: white;
    color: #474538;
    border: none;
}

.trabajo:hover{
    background-color: $hover-component-color;
}

.trabajo:hover #button-postulate{
    display: inline-block;
}

#button-postulate{
    font-family: $font-stack;
    background-color: $primary-color;
    color: white;
    border: $border-size-default solid $primary-color; 
    padding: $padding-postulado;
    margin-top: $postulado-margin-top;
    margin-bottom: $postulado-margin-botton;
    font-size: $small-font;
    transition-duration: $transition-default-timer;
    display: none;
}

#button-postulate:focus 
{
    outline:$zero;
}

#button-etiqueta-trabajo{
    font-family: $font-stack;
    background-color: white;
    color: black;
    border: $border-size-default solid black;
    transition-duration: $transition-default-timer;
}

#button-etiqueta-trabajo:focus{
    outline: $zero;
}

#button-etiqueta-trabajo:hover{
    background-color: black;
    color: white;
}

