@import "../scss/variables-master";

body 
{
    text-align: center;
    color: $headers-font-color;
    background-color: white;
}

footer
{
    font-family: $font-stack;
    text-align: center;
}

.button-anadir {
    font-family: $font-stack;
    background-color: white;
    color: $primary-color;
    border: $border-size-default solid $primary-color;
    padding: $añadir-padding;
    margin-top: $anadir-margin-top;
    font-size: $medium-font;
    transition-duration: $transition-default-timer;
}

.button-anadir:focus {
    outline: $zero;
}

.button-anadir:hover {
    color: white;
    background-color: $font-stack;
}

#centra-tabla {
    width: $tabla-choosing-width;
    margin-left: $tabla-margin-left-right;
    margin-right: $tabla-margin-left-right;
}

.tabla-servicio button, .tabla-empresa button
{
    font-family: $font-stack;
    color: $choosing-font-color;
    background-color: white;
    border: $zero; 
    border-radius: $border-radius-default;
    padding: $choosing-padding-default;   
}

.tabla-empresa button:focus, .tabla-servicio button:focus
{
    outline:$zero;
}

.tabla-empresa button:hover, .tabla-servicio button:hover
{ 
    color: $primary-color;
}
