// Main font stack
$font-stack: nunito,
roboto,
proxima-nova,
proxima nova,
sans-serif;

//Percentages
$full: 100%;
$half: 50%;

// Colors
$primary-color: #FF4742;
$hover-component-color: #F5F5F5;

//Numbers
$zero: 0;

//Font-
$small-font: 16 px;
$medium-font: 20 px;
$medium-large-font: 26 px;

//Buttons
$border-size-default: 1px;

//Headers
$headers-font-color: #4E4949;

//Transition timer
$transition-default-timer: 0.4s;