@import "../scss/variables-master";

h3 {
    font-size: 17px;
    font-weight:normal;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    vertical-align: middle;
}

h4 {
    font-size: $medium-font;
    text-align: left;
    line-height:15px;
    margin-top: 5px;
    margin-bottom: 0%;
    vertical-align: middle;
}

h5 {
    font-size: $small-font;
    font-weight: normal;
    text-align: left;
    line-height:15px;
    margin-top: 10px;
}

td {
    border: none;
}

p{
    font-size: $small-font;
    font-weight: bold;
    text-align: center;
}

#trabajos-xalapa{
    border: $border-size-default solid white;
    border-collapse: collapse;
    table-layout: fixed;
    height: 90px;
    width: 1200px;
    list-style-type: none;
    margin:0 auto;
    margin-left:5%; 
    margin-right:15%;
}

#column-informacion-empresa{
    text-align: left; 
    vertical-align: middle;
}

.trabajo{
    font-family: $font-stack;
    background-color: white;
    color: #474538;
    border: none;
}

.trabajo:hover{
    background-color: $hover-component-color;
}

.trabajo:hover #button-postulate{
    display: inline-block;
}

#button-postulate{
    font-family: $font-stack;
    background-color: $primary-color;
    color: white;
    border: $border-size-default solid $primary-color; 
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    transition-duration: $transition-default-timer;
    display: none;
}

#button-postulate:focus 
{
    outline:$zero;
}

#button-etiqueta-trabajo{
    font-family: $font-stack;
    background-color: white;
    color: black;
    border: $border-size-default solid black;
    transition-duration: $transition-default-timer;
}

#button-etiqueta-trabajo:focus{
    outline: $zero;
}

#button-etiqueta-trabajo:hover{
    background-color: black;
    color: white;
}

