<!DOCTYPE html>
<header>
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-header.css') }}">
    <h1>
        Busca Xalapa
            <input id = buscador-negocio type = "text" placeholder = "🔎 ¿Qué estás buscando? "></input>
            <button id = button-conocenos>Conócenos</button>
            <a href="Roomie.html"><button id=button-busca-roomie>Busca un roomie</button></a>
            <a href="Jobs.Html"><button id = button-trabajos>Trabajos en Xalapa</button></a>
            <a href="Marketplace.html"><button id = button-compra-vende>Compra y vende</button></a>
            <a href="Sessions.html"><button id = button-inicia-sesion>Ingresa</button></a>
    </h1>
</header>
<body>  
    {% block body %}{% endblock %}
</body>
<html>